include modern_image_support/modern_image_support.pyx
include modern_image_support/modern_image_support.pxd
include modern_image_support/modern_image_support.pyi
include modern_image_support/modern_image_support_c.h
include LICENSE
include README.md